/*
* GENERAL STYLES
*/
html, body, #root {
  margin: 0;
  padding: 0;
  border: none;
}

.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Red {
    color: #FF0606;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #FF0606;
    text-decoration: none;
  cursor: pointer;
}

.App-link:hover {
  text-decoration: underline;
}

.Main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
  background-color: #2D2D2D;
}

.Logo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Jomhuria', cursive;
  font-size: xxx-large;
  text-decoration: none;
  cursor: pointer;
  color: #FF0606;
  margin-top: 5px;
  margin-bottom: 0px;
}

.Logo-img {
  height: 30px;
  width: auto;
  margin-top: -10px;
  margin-bottom: 0px;
}

/*
* SPECIFIC STYLES
*/

.Auth-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1E1E1E;
  color: white;
  font-family: 'Jomhuria', cursive;
  height: 100vh;
  min-height: 100vh;
  padding-top: 0;
}

.Register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2D2D2D;
  color: white;
  height: 70%;
  width: 50vh;
  align-self: center;
}

form.Register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.Auth-form-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

}

.Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2D2D2D;
  color: white;
  height: 50%;
  width: 50vh;
  align-self: center;
}

form.Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.Auth-form-input {
  background-color: #1E1E1E;
  color: white;
  font-family: 'Jomhuria', cursive;
  border-radius: 7px;
  border: none;
  outline: none;
  box-shadow: none;
  width: 12em;
  font-size: 3vh;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1E1E1E inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.Auth-form-input::placeholder {
  color: white;
  font-size: 3vh;
}

input[type="date"] {
  font-size: 3vh;
  width: 12em;
}

.Auth-form-text {
  font-size: 4.5vh;
  margin-top: 0vh;
  margin-bottom: 2vh;
}

.Auth-text {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
}

.Auth-text-header {
  font-size: 64px;
  white-space: nowrap;
}

.Auth-text-body {
  font-size: 40px;
}

.Logo-red {
  color: #FF0606;
}

.Form-button {
  background-color: #FF0606;
  color: black;
  font-family: 'Jomhuria', cursive;
  font-size: 3.5vh;
  border: none;
  border-radius: 7px;
  margin-top: 1.5vh;
  cursor: pointer;
}

.SignOut-button {
  position: absolute;
  right: 1vw;
  background: none;
  border: none;
  color: #FF0606;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  font-family: 'Jomhuria', cursive;
  font-size: xx-large;
}

.SignOut-button:hover {
  text-decoration: underline;
}

.Username-text {
  position: absolute;
  left: 1vw;
  background: none;
  border: none;
  color: white;
  padding: 0;
  text-decoration: none;
  font-family: 'Jomhuria', cursive;
  font-size: xx-large;
}

.Info-message {
  color: white;
  font-size: x-large;
}

.Error-message {
  color: #FF0606;
  font-size: xx-large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Mobile Styles */
@media (max-width: 750px) {
    .Auth-background {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
    .Auth-text {
      margin-left: 0;
      align-items: center;
      visibility: hidden;
      height: 0;
    }
    .Auth-text-header {
      height: 0;
      margin: 0;
    }
    .Auth-text-body {
        height: 0;
      margin: 0;
    }
    .Login-form {
      height: 60vh;
    }
    .Register-form {
      height: 80vh;
    }
    .Auth-form-header {
      margin-top: 30px;
    }
    .Error-message {
      font-size: large;
    }
}