/*
* GENERAL STYLES
*/
html, body, #root {
  margin: 0;
  padding: 0;
  border: none;
  min-height: 100%;
}

.App {
  text-align: center;
  overflow: hidden;
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Red {
    color: #FF0606;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #FF0606;
    text-decoration: none;
  cursor: pointer;
}

.App-link:hover {
  text-decoration: underline;
}

.Main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
  background-color: #2D2D2D;
}

.Logo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Jomhuria', cursive;
  font-size: xxx-large;
  text-decoration: none;
  cursor: pointer;
  color: #FF0606;
  margin-top: 5px;
  margin-bottom: 0px;
}

.Logo-img {
  height: 30px;
  width: auto;
  margin-top: -10px;
  margin-bottom: 0px;
}

/*
* SPECIFIC STYLES
*/

.Auth-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1E1E1E;
  color: white;
  font-family: 'Jomhuria', cursive;
  height: 100vh;
  min-height: 100vh;
  padding-top: 0;
}

.Register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2D2D2D;
  color: white;
  height: auto;
  width: 380px;
  min-width: 380px;
  align-self: center;
}

.Register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.Auth-form-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
    margin-top: 20px;
}

.Login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2D2D2D;
  color: white;
  height: auto;
  width: 380px;
  min-width: 380px;
  min-height: 420px;
  align-self: center;
}

.Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 10px;
}

.Auth-form-input {
  background-color: #1E1E1E;
  color: white;
  font-family: 'Jomhuria', cursive;
  border-radius: 7px;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0.2em 0.5em 0.2em 0.5em;
  width: 10em;
  font-size: 28px;
  margin-top: 5px;
  caret-color: white;
}
input[type="text"]::selection {
  background-color: #3297fd;
  color: white;
}

/* For Firefox compatibility */
input[type="text"]::-moz-selection {
  background-color: #3297fd;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1E1E1E inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.Auth-form-input::placeholder {
  color: white;
  font-size: 28px;
}

input[type="date"] {
  font-size: 28px;
  width: 10.15em;
}

.Auth-form-text {
  font-size: 40px;
  margin-top: 0vh;
  margin-bottom: 0px;
}

.Auth-text {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
  max-width: 670px;
}

.Auth-text-header {
  font-size: 64px;
  white-space: nowrap;
  background: linear-gradient(180deg, #FF0606 0%, #ff8686 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.Auth-text-body {
  font-size: 40px;
  text-align: start;
}

.Logo-red {
  color: #FF0606;
}

.Form-button {
  background-color: #FF0606;
  color: black;
  font-family: 'Jomhuria', cursive;
  font-size: xx-large;
  border: none;
  border-radius: 7px;
  margin-top: 10px;
  cursor: pointer;
}

.SignOut-button {
  position: absolute;
  right: 1vw;
  background: none;
  border: none;
  color: #FF0606;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  font-family: 'Jomhuria', cursive;
  font-size: xx-large;
}

.SignOut-button:hover {
  text-decoration: underline;
}

.Username-text {
  position: absolute;
  left: 1vw;
  background: none;
  border: none;
  color: white;
  padding: 0;
  text-decoration: none;
  font-family: 'Jomhuria', cursive;
  font-size: xx-large;
}

.Info-message {
  color: white;
  font-size: x-large;
}

.Error-message {
  color: #FF0606;
  font-size: xx-large;
  text-wrap: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home Page Styles */
.HomePage-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  font-family: 'Jomhuria', cursive;
  font-size: xx-large;
  height: auto;
  min-height: 95vh;
  background-color: #1E1E1E;
}
.HomePage-body-container {
  margin-top: 5vh;
  width: 90%;
  max-width: 1500px;
}
.HomePage-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10vh;
  text-align: start;
}
.HomePage-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 3vh;
}
.Homepage-content-text {
  display: flex;
    flex-direction: column;
    align-items: start;
}
.HomePage-content-image-left {
  margin-left: 5vw;
}
.HomePage-content-image-right {
  margin-right: 5vw;
}
.Homepage-footer {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
/* Mobile Styles */
@media (max-width: 800px) {
    .Auth-background {
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
    .Auth-text {
      margin-left: 0;
      align-items: center;
      visibility: hidden;
      height: 0;
    }
    .Auth-text-header {
      height: 0;
      margin: 0;
    }
    .Auth-text-body {
      height: 0;
      margin: 0;
    }
    .Login-container {
      display: flex;
      justify-content: flex-end;
      max-height: 440px;
    }
    .Login-form {
      margin-top: auto;
    }
    .Register-container {
      margin-top: 4em;
    }
    .Auth-form-header {
      margin-top: 30px;
    }
    .Error-message {
      font-size: x-large;
    }
    .Auth-form-text {
      font-size: xx-large;
    }
    .Homepage-content-text {
      align-items: center;
    }
    .HomePage-content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      text-align: center;
    }
    .HomePage-content-reverse {
      flex-direction: column-reverse;
    }
    .HomePage-content-image-left {
        margin-left: 0;
      max-width: 95%;
      display: flex;
        justify-content: center;
    }
    .HomePage-content-image-right {
        margin-right: 0;
    }
    .HomePage-body-container {
      margin: 0;
    }
  .Homepage-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
}