.App {
    text-align: center;
    max-height: 100vh;
    overflow: hidden;

}

.Dashboard-background {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 95vh;
}

.Loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-radius: 8px;
    background-color: #2D2D2D;
}

.Spinner {
    border: 4px solid #e0e0e0;
    border-top: 4px solid #888;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.Error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2D2D2D;
    color: #FF0606;
    font-size: xx-large;
    font-family: 'Jomhuria', cursive;
}

.Calendar-container {
    width: 25vw;
    height: 75vh;
    background-color: #2D2D2D;
}

.Flex-container {
    width: 60vw;
    height: 75vh;
    background-color: #2D2D2D;
    margin-left: 5vw;
}

/*
 * Nutrition Form Styles
 */
.Nutrition-form {
    width: 98.7%;
    background-color: #2D2D2D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.Nutrition-form-input {
    padding-left: 32px; /* Adjust for icon + spacing */
    background: #1E1E1E url('/public/searchicon.png') no-repeat 8px center;
    background-size: 16px 16px;
    color: white;
    font-family: 'Jomhuria', cursive;
    width: 85%;
    border-radius: 0.2em;
    border: none;
    font-size: x-large;
}
.Nutrition-form-input::placeholder {
    color: #aeaeae;
}

.Nutrition-form-button {
    background-color: #1E1E1E;
    color: white;
    font-family: 'Jomhuria', cursive;
    width: 150px;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
    font-size: x-large;
    margin-left: 1%;
}

.Nutrition-form-error {
    color: #FF0606;
    font-family: 'Jomhuria', cursive;
    font-size: x-large;
    padding-top: 0.5em;
}

.Nutrition-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 5vw;
}
/*
 * Meal Panel Styles
 */
.MealPanel {
    width: 100%;
    height: 100%;
    background-color: #2D2D2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0;
}
.MealPanel-header {
    color: white;
    font-family: 'Jomhuria', cursive;
    font-size: xx-large;
    line-height: 1.2;
}

.MealPanel-date-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family: 'Jomhuria', cursive;
    font-size: xx-large;
    margin-bottom: 0.3em;
    width: 98.7%;
}

.MealPanel-date-header-text {
    font-size: xx-large;
    text-align: center;
    width: 46%;
}

.DateTime-wrapper {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    border-radius: 0.2em;
    font-size: x-large;
    padding-left: 0.6vw;
    padding-top: 0.1em;
    width: 26%;
}

.DateTime-input {
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
    padding: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.DateTime-input::-webkit-calendar-picker-indicator {
    height: 16px;
    width: 16px;
}

.DateTime-text {
    padding-right: 1vw;
    margin: 0;
}

.MealItemList {
    width: 97%;
}

.MealItemList-ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 0;
    padding-inline-start: 0;
}

.MealItemList-li {
    width: 100%;
    background-color: #1E1E1E;
    color: #19A9FA;
    font-family: 'Jomhuria', cursive;
    border-radius: 0.2em;
    margin-bottom: 0.1em;
    display: grid;
    grid-template-columns: auto 2fr auto 0.1fr 0.1fr auto;
    align-items: center;
    font-size: x-large;
    padding-left: 1vw;
    padding-top: 0.1em;
}

.MealItemList-li > div:nth-child(4) {
    width: 50px;
    text-align: right;
    margin-right: 0;
    color: white;
}

.MealItemList-li > div:nth-child(5) {
    width: 50px;
    text-align: right;
    margin-right: 0;
    color: white;
}

.MealItemList-li p {
    margin: 0;
}

.Delete-button {
    background-color: #1E1E1E;
    color: red;
    font-family: 'Jomhuria', cursive;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
    font-size: x-large;
    margin-right: 1vw;
}

.MealPanel-footer {
    width: 98.3%;
    color: white;
    font-size: x-large;
    font-family: 'Jomhuria', cursive;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: auto;
    padding-bottom: 0.2em;
}

.MealPanel-footer-text-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1em;
}

.MealPanel-footer-button {
    background-color: #19A9FA;
    color: black;
    font-family: 'Jomhuria', cursive;
    width: 100px;
    border-radius: 0.1em;
    border: none;
    cursor: pointer;
    font-size: x-large;
    align-self: flex-end;
}